.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  color: #000;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 20px;
  justify-content: space-between;

  border-bottom: 2px solid #000;
}

.navbar h1 {
  color: #f1356d;
}

a {
  margin-left: 16px;
  padding: 6px;
  text-decoration: none;
}

a:hover {
  color: #f1356d;
}
